body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #616161;
}
.container{
  width: 300px; 
  background: #212121;
  padding: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

p{
  color: white;
}

.userInput{
  color: white;
  background: none;
  margin: 10px auto;
  text-align: center;
  border: 2px solid white;
  padding: 12px 10px;
  width: 200px;
  outline: none;
  border-radius: 15px;
}

.btnSubmit{
  color: white;
  background:none;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 12px 40px;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}

.btnSubmit:hover{
  background-color: #2ecc71;
}

.userInput:focus{
  border-color: #1565C0;
}

div#radioButtons{
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

#konamiSec{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}